@import '_consts.scss';

* {
	box-sizing: border-box;
}

body {
	background-color: $c-bg;
	color: $c-text;
	font-family: monospace;
	font-size: 1.3em;
	line-height: 1.4;
}

a[href] {
	color: $c-bg;
	background-color: $c-link;
	font-weight: bold;
	text-decoration: none;
	padding: 1px 3px;
	transition: $c-hover-trans;

	&:hover {
		background-color: $c-link-hover;
	}
}

h1, h2 {
	color: $c-title;
}

h3, h4 {
	color: $c-heading;
}

h2 {
	border-bottom: 3px solid $c-base;
	text-shadow: 3px 3px 0 $c-base;
	text-transform: uppercase;
}

li {
	margin: 0.7em 0;
}

header {
	text-align: center;
	padding: 1em;
	background-color: $c-base;
	strong {
		color: $c-title;
	}
}

section {
	padding-bottom: 1em;
}

footer {
	text-align: center;
	color: $c-base;
}

.overview, nav, #main {
	max-width: 800px;
	min-width: 320px;
	padding: 0 1em;
	margin: 0 auto;
}

#to-top {
	position: fixed;
	bottom: 1em;
	right: 1em;
}

