@import '_consts.scss';

* {
	box-sizing: border-box;
}

::selection { 
	background-color: map-get($pal, lightgreen); 
}

body {
	@include scanlines;
	background-color: $c-bg;
	color: $c-text;
	font-family: monospace;
	font-size: 1.2em;
}

a {
	font-weight: bold;
	color: $c-bg;
	text-decoration: none;
	transition: $c-hover-trans;

	&.img-link {
		display: block;
		text-align: center;
		padding: 0.2em!important;
		margin: 1.58em auto;
		background: transparent!important;
		img {
			border: 3px solid $c-base;
		}
	}
}

p small {
	color: $c-base;
}

p, ul li {
	line-height: 1.47;
    margin-top: -0.10161em;
    margin-bottom: 1.075em;
}

h1, h2 {
	@include pixel-font;
	color: $c-title;
	font-size: 2.05em;
    margin: 0.755em 0;
    line-height: 1;
}

h1 .sitename {
	text-shadow: 5px 5px 0 $c-bg;
}

h1 span.dec {
	animation: ramp1 0.5s steps(1, end) alternate infinite;
}

h3 {
	@include pixel-font-caps;
	color: $c-heading;
	margin-bottom: 0.99em;
    margin-top: -0.266em;
    line-height: 1.4;
}

h2 {
	@include pixel-font-caps;
	border-bottom: 3px solid $c-base;
	text-shadow: 3px 3px 0 $c-base;
	padding-bottom: 0.17em;
    margin-top: -0.1em;
}

ul {
	color: $c-base;
	list-style-type: square;
	padding-left: 1.5em;
	margin-bottom: 1em;
}

li {
	color: $c-text;
}

header {
	@include scanlines;
	text-align: center;
	padding: 1em;
	background-color: $c-base;
	strong {
		color: $c-title;
	}
	a {
		color: $c-title;
	}
}

nav {
	background-color: $c-medium;
	margin-bottom: 2.93em;

	h2 {
		display: none;
	}
	ul {
		list-style-type: none;
		display: flex;
		flex-direction: row;
		padding: 0;

		li {
			flex: 1 1 100%;
			margin: 0;

			a {
				@include pixel-font-caps;
				display: block;
				text-align: center;
				background-color: transparent;
				text-shadow: 2px 2px 0 $c-text;
				padding: 0.2em;

				&:hover {
					background-color: $c-nav-hover;
				}
			}
		}
	}
}

section {
	padding-bottom: 2.05em;

	a[href] {
		background-color: $c-base-link;
		padding: 1px 3px;
		color: $c-link;

		&:hover {
			background-color: $c-link-hover;
			color: $c-bg;
		}
	}

	a[name] {
		display: none;
	}
}

#work ul, #skills ul {
	margin-bottom: 4em;
}

footer {
	text-align: center;
	color: $c-base;
	margin-top: 0.36em;
}

.overview, nav ul, #main {
	max-width: 800px;
	min-width: 320px;
	padding: 0 1em;
	margin: 0 auto;
}

#to-top {
	position: fixed;
	bottom: 1em;
	right: 1em;
	will-change: opacity;
	a {
		background-color: $c-base;
		padding: 1px 3px;
	}

}

#share {
	margin-top: 2.95em;
}

// Ramp 1 anim
$ramp1: map-get($pal, black),
        map-get($pal, blue),
        map-get($pal, violet),
        map-get($pal, lightblue),
        map-get($pal, lightgreen),
        map-get($pal, white);
@include color-anim('ramp1', $ramp1);

