@import '_consts.scss';

@mixin pixel-font {
	font-family: '4Mini', monospace;
}

@mixin pixel-font-caps {
	@include pixel-font;
	text-transform: uppercase;
}

@mixin scanlines {
	background-image: url(#{$pat-bg});
	background-repeat: repeat;
}

* {
	box-sizing: border-box;
}

body {
	@include scanlines;
	background-color: $c-bg;
	color: $c-text;
	font-family: monospace;
	font-size: 1.1em;
	line-height: 1.4;
}

a {
	font-weight: bold;
	color: $c-bg;
	text-decoration: none;
	transition: $c-hover-trans;
}

small {
	color: $c-base;
}

h1, h2 {
	@include pixel-font;
	color: $c-title;
}

h1 .sitename {
	text-shadow: 5px 5px 0 $c-bg;
}

h1 span.dec {
	animation: ramp1 0.5s steps(1, end) alternate infinite;
}

h3 {
	@include pixel-font-caps;
	color: $c-heading;
}

h2 {
	@include pixel-font-caps;
	border-bottom: 3px solid $c-base;
	text-shadow: 3px 3px 0 $c-base;
}

ul {
	color: $c-base;
	list-style-type: square;
	padding-left: 1.5em;
}

li {
	margin: 0.7em 0;
	color: $c-text;
}

header {
	@include scanlines;
	text-align: center;
	padding: 1em;
	background-color: $c-base;
	strong {
		color: $c-title;
	}
	a {
		color: $c-title;
	}
}

nav {
	background-color: $c-medium;
	margin-bottom: 3em;

	h2 {
		display: none;
	}
	ul {
		list-style-type: none;
		display: flex;
		flex-direction: row;
		padding: 0;

		li {
			flex: 1 1 100%;
			margin: 0;

			a {
				@include pixel-font-caps;
				display: block;
				text-align: center;
				background-color: transparent;
				text-shadow: 2px 2px 0 $c-text;
				padding: 0.3em;

				&:hover {
					background-color: $c-nav-hover;
				}
			}
		}
	}
}

section {
	padding-bottom: 1em;

	a[href] {
		background-color: $c-link;
		padding: 1px 3px;

		&:hover {
			background-color: $c-link-hover;
		}
	}

	a[name] {
		display: none;
	}
}

footer {
	text-align: center;
	color: $c-base;
}

.overview, nav ul, #main {
	max-width: 800px;
	min-width: 320px;
	padding: 0 1em;
	margin: 0 auto;
}

#to-top {
	position: fixed;
	bottom: 1em;
	right: 1em;
	a {
		background-color: $c-base;
		padding: 1px 3px;
	}

}

// Ramp 1 anim
$ramp1: map-get($pal, black),
        map-get($pal, blue),
        map-get($pal, violet),
        map-get($pal, lightblue),
        map-get($pal, lightgreen),
        map-get($pal, white);
@include color-anim('ramp1', $ramp1);

